*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height: inherit;
  background-color: #093650;
  color: #87cefa;
  font-size: 2rem;
}

img {
  max-width: 100%;
}

button, .btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  background: palegreen;
  font-size: 2rem;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

main.users,
main.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
main.users ul,
main.posts ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}
main.users li,
main.posts li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #084245;
  color: lightskyblue;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 0.2rem 0.1rem hsla(0, 0%, 0%, 0.3);
  font-family: sans-serif;
}

main.users li span:nth-child(2),
main.posts li span:nth-child(2) {
  font-size: 0.8em;
}
.network {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 5px;
  padding: 1.6rem;
  background: hsla(125, 100%, 64%, 0.8);
  box-shadow: 0 0 3px 1px hsla(0, 0%, 0%, 0.3);
  color: #093650;
}
